# Copy to scripts/release/.env (gitignored) and fill in.
# Loaded by terp-upgrade-proposal / make upgrade-proposal

MAIN_MNEMONIC="word1 word2 ... word24"

CHAIN_ID=morocco-1
CHAIN_KIND=mainnet
GAS_DENOM=uterp
GAS_PRICE=0.025
ADDRESS_PREFIX=terp

# groot2 LAN mainnet node (terpd-mainnet ~/.terpd-mainnet)
GRPC_URL=http://192.168.10.101:9090
RPC_URL=http://192.168.10.101:26657
LCD_URL=http://192.168.10.101:1317
